@use './../mixins' as *;

.icon {
  fill: transparent;
  stroke: transparent;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  &--hero-arrow {
    // width: 16px;
    width: calc(var(--index) * 0.63);
    // height: 81px;
    height: calc(var(--index) * 3.17);
    stroke: var(--white);
    fill: var(--white);
    @include sm {
      width: 16px;
      height: 66px;
    }
  }
  &--filter {
    width: 24px;
    height: 24px;
    stroke: var(--black);
  }
  &--bubble-qa {
    width: 24px;
    height: 24px;
    stroke: var(--black);
  }
  &--seal-check {
    width: 16px;
    height: 16px;
    fill: var(--green-2);
  }
  &--arrow-r {
    width: 18px;
    height: 8px;
    stroke: var(--black);
  }
  &--tringle {
    width: 19px;
    height: 22px;
    margin-left: 6px;
    fill: var(--black);
  }
}
