@use './../mixins' as *;

.burger-btn {
  --time: 0.1s;

  // --width: 100px;
  // --height: 40px;
  --width: calc(var(--index) * 4);
  --height: calc(var(--index) * 1.6);

  --line-height: 2px;
  // --spacing: 6px;
  --spacing: calc(var(--index) * 0.25);

  --color: var(--black);
  // --radius: 2px;
  --radius: calc(var(--index) * 0.1);

  /* Fixed height and width */
  height: var(--height);
  width: var(--width);

  /* Dynamic height and width */
  // height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  // width: var(--width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;

  z-index: 999;

  font-weight: 400;
  // font-size: 16px;
  font-size: calc(var(--index) * 0.64);
  @include sm {
    --width: 100px;
    --height: 40px;
    --spacing: 6px;

    align-items: flex-end;
    font-size: 16px;
  }
}

.burger-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);

  transition: background-color 2s ease;

  &::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;

    width: 66%;
    height: var(--line-height);

    border-radius: var(--radius);
    background-color: var(--color);
    transition: transform var(--time) ease-in, top var(--time) linear var(--time), background-color 2s ease;
    @include sm {
      left: unset;
      right: 0;
    }
  }

  &::after {
    /* top: calc(var(--line-height) * 2); */
    top: calc(var(--line-height) + var(--spacing));
  }

  // &.burger-icon--active {
  //   background-color: transparent;
  // }

  // &.burger-icon--active::after {
  //   top: 0;
  //   transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  // }

  // &.burger-icon--active::after {
  //   transform: rotate(-45deg);
  // }
}

.burger-menu {
  width: 100%;
  height: 100%;
  // padding: 40px 0;
  padding: calc(var(--index) * 1.6) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: -100%;
  z-index: 99;

  background: black;
  transition: all 0.2s ease-in;

  &--open {
    top: 0;
  }

  a {
    color: var(--white);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 30px 0;
    gap: calc(var(--index) * 1.2) 0;

    // font-size: 28px;
    font-size: calc(var(--index) * 1.1);
    line-height: 100%;
  }

  &__item {
  }

  &__link {
    &.active {
      color: var(--accent);
    }
  }
}
