@use './../mixins' as *;

.video {
}

[data-js-video-box] {
  position: relative;

  &._play {
    [data-js-video] {
      opacity: 1;
    }
    [data-js-video-play] {
      opacity: 0;
    }
  }
}
[data-js-video] {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s linear;
}

[data-js-video-play] {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  background-color: var(--white);
  border-radius: 50%;

  transition: all 0.2s linear;
}
