@use './../mixins' as *;

.island {
  padding: 0;
  position: relative;
  overflow: hidden;

  &._move {
    .island__box {
      transform: rotate(-20deg);
      transition: transform 2s ease;
    }
  }
  &__inner {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: 1348/960;
    position: relative;

    transform: rotate(0deg);
    transition: transform 2s ease;
  }
  &__image {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__cloud {
    max-width: unset;
    position: absolute;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
  }
  &__therapy-wrapper {
    // width: calc(var(--index) * 19.5);
    // height: calc(var(--index) * 28);

    // position: absolute;
    // right: 50%;
    // top: 52%;
    // transform: translate(4vw, -50%);
    width: 37%;
    height: 77%;
    position: absolute;
    left: 17%;
    top: 16%;
  }
  &__therapy {
    width: 100%;
    height: 100%;
    position: relative;

    // background-color: rgba(255, 0, 0, 0.2);
    .island__link {
      top: 90%;
      left: 80%;
    }
    & > * {
      will-change: left, top;
    }
  }
  &__therapy-text {
    // width: 20vw;
    width: calc(var(--index) * 10.4);
    height: auto;
    object-fit: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  }
  &__therapy-colud-1 {
    width: calc(var(--index) * 17.9);

    top: -30%;
    left: 20%;
    transform: translateX(-50%);
  }
  &__therapy-colud-2 {
    width: calc(var(--index) * 13);

    bottom: 20%;
    left: 0%;
    transform: translateX(-50%);
  }
  &__community-wrapper {
    // width: calc(var(--index) * 19.5);
    // height: calc(var(--index) * 28);

    // position: absolute;
    // left: 50%;
    // top: 52%;
    // transform: translate(5vw, -50%);
    width: 20%;
    height: 37%;
    position: absolute;
    right: 18%;
    top: 25%;

    // background-color: rgba(255, 0, 0, 0.2);
  }
  &__community {
    width: 100%;
    // height: calc(var(--index) * 14.8);
    height: 100%;
    position: relative;
    z-index: 5;
    .island__link {
      top: 123%;
      left: 39%;
    }
    & > * {
      will-change: left, top;
    }
  }
  &__community-text {
    width: calc(var(--index) * 5);
    height: auto;
    object-fit: contain;

    position: absolute;
    top: 25%;
    left: 57%;
    transform: translate(-50%, -50%) rotate(-19deg);
    z-index: 1;
  }
  &__community-colud-1 {
    width: calc(var(--index) * 17.7);

    top: 0%;
    left: 200%;
    // top: -50%;
    // left: 100%;
    transform: translateX(-50%);
  }
  &__community-colud-2 {
    width: calc(var(--index) * 8.5);

    bottom: -55%;
    left: 130%;
    // bottom: -5%;
    // left: 30%;
    transform: translateX(-50%);
  }
  &__link {
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 7);
    padding: calc(var(--index) * 2) calc(var(--index) * 1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;

    border: calc(var(--index) * 0.1) solid var(--white);
    border-radius: 50%;
    backdrop-filter: blur(calc(var(--index) * 0.6));
    box-shadow: calc(var(--index) * 0.55) calc(var(--index) * 1.4) calc(var(--index) * 0.43) 0
      rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);

    pointer-events: none;
    opacity: 0;

    span {
      width: min-content;
      font-weight: 700;
      // font-size: 16px;
      font-size: calc(var(--index) * 0.63);
      line-height: 130%;
      text-align: center;
      color: var(--white);
    }
  }
}
