@use './../mixins' as *;

.island {
  height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;

  &._move {
    .island__box {
      transform: rotate(-20deg);
      transition: transform 2s ease;
    }
  }
  &._therapy-inner {
    .island-slider {
      opacity: 1;
      pointer-events: all;
      transition: opacity 2s ease 1s;
    }
    .island__image {
      transform: translate(-20%, 10%) scale(1.25);
      transition: transform 2s 0.5s ease;
    }
    .island__therapy-wrapper,
    .island__community-wrapper {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 1s ease;
    }
    .island__box-mobile {
      .island__image {
        transform: translate(-50%, -24%) scale(0.9);
        transition: transform 1s ease;
      }
      .island__therapy-text,
      .island__community-text {
        opacity: 0;
        pointer-events: none;
        transition: top 1s ease, opacity 2s ease;
      }
      .island__therapy-text {
        top: 18%;
      }
      .island__community-text {
        top: 53%;
      }
    }
  }
  &._community-inner {
    .island-community--wrapper {
      opacity: 1;
      pointer-events: all;
      transition: opacity 2s ease 1s;
    }
    .island__image {
      transform: translate(-10%, 28%) scale(1.6) rotate(-14deg);
      transition: transform 2s 0.5s ease;
    }
    .island__therapy-wrapper,
    .island__community-wrapper {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 1s ease;
    }
  }
  &._therapy-page {
    opacity: 0;
    transition: opacity 2s 2s ease;
    .island__image {
      transform: translate(12%, -27%) rotate(-51deg) scale(2.1);
      transition: transform 2s ease;
    }
    .island__therapy-wrapper,
    .island__community-wrapper {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 1s ease;
    }
    .island__therapy-colud--transition {
      transform: translate(-50%, -50%) scale(1);
      transition: all 2s ease;
      opacity: 1;
      visibility: visible;
    }
  }
  &__inner {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: 1348/960;
    position: relative;

    transform: rotate(0deg);
    transition: transform 2s ease;
    @include sm {
      display: none;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 1.5s 0.5s ease;
  }
  &__cloud {
    max-width: unset;
    position: absolute;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
  }
  &__therapy-colud--transition {
    max-width: unset;
    width: calc(var(--index) * 231.8);
    height: auto;
    aspect-ratio: 5934/4871;

    position: fixed;
    top: 110%;
    left: 69%;
    transform: translate(-60%, -60%) scale(0.8);
    z-index: 10;
    transition: all 2s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &__therapy-wrapper {
    width: 37%;
    height: 77%;
    position: absolute;
    left: 17%;
    top: 16%;
    transition: all 1s 2s ease;
    // background-color: rgba(255, 0, 0, 0.2);
  }
  &__therapy {
    width: 100%;
    height: 100%;
    position: relative;

    transform-origin: 50% 50%;
    .island__link {
      top: 90%;
      left: 80%;
    }
    & > * {
      will-change: top, right, bottom, left;
    }
  }
  &__therapy-text {
    // width: 20vw;
    width: calc(var(--index) * 10.4);
    height: auto;
    object-fit: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  }
  &__therapy-colud-1 {
    width: calc(var(--index) * 17.9);

    top: -30%;
    left: 20%;
    transform: translateX(-50%);
  }
  &__therapy-colud-2 {
    width: calc(var(--index) * 13);

    bottom: 20%;
    left: 0%;
    transform: translateX(-50%);
  }
  &__community-wrapper {
    width: 20%;
    height: 37%;
    position: absolute;
    right: 18%;
    top: 25%;
    transition: all 1s 2s ease;
    // background-color: rgba(255, 0, 0, 0.2);
  }
  &__community {
    width: 100%;
    // height: calc(var(--index) * 14.8);
    height: 100%;
    position: relative;
    z-index: 5;
    transform-origin: 50% 25%;
    .island__link {
      top: 123%;
      left: 39%;
    }
    & > * {
      will-change: top, right, bottom, left;
    }
  }
  &__community-text {
    width: calc(var(--index) * 5);
    height: auto;
    object-fit: contain;

    position: absolute;
    top: 25%;
    left: 57%;
    transform: translate(-50%, -50%) rotate(-19deg);
    z-index: 1;
  }
  &__community-colud-1 {
    width: calc(var(--index) * 17.7);

    top: 0%;
    left: 200%;
    // top: -50%;
    // left: 100%;
    transform: translateX(-50%);
  }
  &__community-colud-2 {
    width: calc(var(--index) * 8.5);

    bottom: -55%;
    left: 130%;
    // bottom: -5%;
    // left: 30%;
    transform: translateX(-50%);
  }
  &__link {
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 7);
    padding: calc(var(--index) * 2) calc(var(--index) * 1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;

    border: calc(var(--index) * 0.1) solid var(--white);
    border-radius: 50%;
    backdrop-filter: blur(calc(var(--index) * 0.6));
    box-shadow: calc(var(--index) * 0.55) calc(var(--index) * 1.4) calc(var(--index) * 0.43) 0 rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);

    pointer-events: none;
    opacity: 0;

    span {
      width: min-content;
      font-weight: 700;
      // font-size: 16px;
      font-size: calc(var(--index) * 0.63);
      line-height: 130%;
      text-align: center;
      color: var(--white);
    }
  }
}

.island-community {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: '';
    width: 64vw;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(
      90deg,
      #eae7dd 0%,
      rgba(234, 231, 221, 0.95) 49.5%,
      rgba(234, 231, 221, 0.8) 79.5%,
      rgba(234, 231, 221, 0) 100%
    );
  }
  &--wrapper {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
  }
  &__inner {
    height: 100%;
  }
  &__info {
    max-width: 591px;
    width: 100%;
    height: 100%;
    padding: 218px 0 65px;

    .btn {
      min-width: 327.5px;
    }
  }
}

.island__box-mobile {
  width: 100%;
  height: 100%;
  padding: 24px 0;

  display: none;

  position: relative;
  @include sm {
    display: flex;
  }
  .island__image {
    max-width: unset;
    width: auto;
    height: 100vh;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .island__therapy {
    // pointer-events: none;

    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 1fr 451px;
    grid-template-rows: 0.8fr 1.2fr;
    align-content: end;
    gap: 24px;
  }
  .island__therapy-text {
    width: 305px;
    height: 107px;

    top: 38%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .island__community-text {
    width: 134px;
    height: 22px;
    top: 73%;
    left: 75%;
  }
  .island-mobile__swiper-circles {
    grid-row: 1/2;

    width: 100%;
    height: auto;
    padding-bottom: 10%;

    display: flex;
    align-items: flex-end;
    .swiper-wrapper {
      width: 100%;
      height: fit-content !important;
    }
    .swiper-slide {
      transform: translateX(-10%) scale(0.9);

      width: calc(100% / 4) !important;
      // width: calc(70% / 4) !important;
      height: fit-content !important;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: transform 0.2s ease;
      &.swiper-slide-prev {
        transform: translateX(-25%) scale(0.9);
      }
      &.swiper-slide-active {
        transform: translateX(0%) scale(1.9);
      }
      &.swiper-slide-next {
        transform: translateX(25%) scale(0.9);
        & + .swiper-slide {
          transform: translateX(10%) scale(0.9);
        }
      }
      // .island-slider__item {
      //   width: 80%;
      // }
      // &.swiper-slide-active{
      //   width: 30% !important;
      // }
    }
    // .swiper-slide.swiper-slide-active {
    //   .island-slider__item {
    //     width: 100%;
    //   }
    // }
    .island-slider__item {
      // width: 100%;
      width: 80%;
      // aspect-ratio: unset;
      offset-path: unset;
      // .island-slider__item-box{
      //   width: 100%;
      //   width: 100%;
      //   aspect-ratio: 1/1;
      // }
    }
  }
  .island-mobile__swiper-info {
    grid-row: 2/3;

    width: calc(100vw - 30px);

    overflow: visible;
    .swiper-wrapper {
      height: 100% !important;
    }
    .swiper-slide {
      width: 100% !important;
      height: auto !important;
    }
  }
  .island-info__item {
    width: calc(100vw - 30px);
    height: 100%;
    padding: 24px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    gap: 24px;

    border: 1px solid var(--warm-light);
    border-radius: 30px;
    backdrop-filter: blur(50px);
    box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);

    &._depression {
      background: rgba(144, 218, 255, 0.3);
    }
    &._trevozh {
      background: rgba(129, 129, 129, 0.3);
    }
    &._poterya {
      background: rgba(234, 58, 58, 0.3);
    }
    &._socializacia {
      background: rgba(244, 150, 61, 0.3);
    }
    .btn {
      width: 100%;
    }
  }
  .island-info__item-text {
    max-height: 301px;

    gap: 16px;
  }
  .island-info__item-head {
    padding: 0;
  }
  .island-info__item-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
  }
  .island-info__item-descr {
    overflow-y: auto;

    font-size: 16px;
    line-height: 122%;
  }
}
