@use './../mixins' as *;

.specialist {
  overflow: visible;
  &__types {
    width: 100%;
    height: auto;
    padding: fluid(40, 24);
    margin-bottom: fluid(50, 40);

    position: relative;

    background: var(--white);
    border-radius: 30px;
    &:has(._specialist__types-show) {
      padding-top: calc(fluid(40, 24) + 66px);
    }
    &-tab-btns {
      width: fit-content;
      padding: 2px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0;

      position: absolute;
      top: fluid(40, 24);
      right: fluid(40, 24);

      background: var(--white);
      border: 1px solid var(--black);
      border-radius: 64px;
      overflow: hidden;
      @include lg {
        position: relative;
        top: 0;
        right: 0;
        z-index: 21;
        margin: 0 auto 24px auto;
      }
      @include md {
        width: 100%;
        height: 42px;
        padding: 0;
        margin-bottom: 24px;
        flex-direction: column;
        gap: 5px;

        &._specialist__types-show {
          width: unset;
          overflow: visible;
          height: auto;
          border-radius: 24px;
          position: absolute;
          top: fluid(40, 24);
          left: fluid(40, 24);
          right: fluid(40, 24);
        }
      }
    }
    &-btn {
      width: fit-content;
      height: 38px;
      padding: 0px 16px;

      background: transparent;
      border: 1px solid transparent;
      border-radius: 64px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 400;
      font-size: 16px;
      color: var(--black);
      &[js-tab-active] {
        border-color: var(--black);
        background: var(--green);
      }
      @include md {
        width: 100%;
        min-height: 42px;
        height: 42px;
        border-radius: 0px;
        background: transparent;
        &[js-tab-active] {
          border-color: transparent;
          background: transparent;
          order: -1;
        }
      }
    }
    &-items {
      display: flex;
      flex-direction: column;
      gap: fluid(40, 24);

      display: none;
      &[js-tab-active] {
        display: flex;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: fluid(32, 16);
    }
    &-title {
      width: 100%;
      padding-right: 600px;

      font-weight: 500;
      font-size: 32px;
      line-height: 130%;
      color: var(--black);
      @include lg {
        padding: 0;
      }
    }
    &-descr {
      display: flex;
      flex-direction: column;
      gap: 1em;

      font-family: var(--second-family);
      font-weight: 400;
      font-size: fluid(18, 16);
      line-height: 134%;
      color: var(--black);
    }
    &-btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      @include md {
        flex-wrap: wrap;
        .btn {
          width: 100%;
        }
      }
    }
  }
  &__content {
    width: 100%;
    margin-bottom: fluid(50, 40);

    position: relative;
  }
  &__content-box {
    padding: fluid(24, 24) fluid(32, 24) fluid(40, 24) fluid(32, 24);
    margin-left: calc(314px + 16px);

    display: grid;
    grid-template-columns: minmax(100px, 317px) minmax(100px, 446px);
    gap: 0 fluid(24, 24);
    grid-template-areas:
      'title title'
      'menu menu'
      'tab-btns tab-btns'
      'name descr'
      'info descr';
    background: var(--white);
    border-radius: 30px;
    @include lg {
      grid-template-areas:
        'title title'
        'menu menu'
        'tab-btns tab-btns'
        'name name'
        'info info'
        'descr descr';
    }
    @include md {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'title title'
        'menu menu'
        'tab-btns tab-btns'
        'name name'
        'video info'
        'descr descr';
      margin-left: 0;
    }
    @include sm {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    grid-area: title;

    color: var(--black);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
  }
  &__menu {
    grid-area: menu;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__menu-btn {
    width: auto;
    height: 40px;
    padding: 16px 24px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--black);
    border-radius: 64px;

    font-weight: 400;
    font-size: 16px;
    color: var(--black);
  }
  &__tab-btns {
    grid-area: tab-btns;

    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__tab-btn {
    width: fluid(107, 80);
    height: fluid(107, 80);

    flex-shrink: 0;

    border: 3px solid transparent;
    border-radius: 50%;

    overflow: hidden;
    scroll-snap-align: start;
    &[data-js-tab-active] {
      border-color: var(--green-2);
    }
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 50% 40%;
    }
  }
  &__name {
    grid-area: name;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--black);
  }
  &__video-wrapper {
    grid-area: video;

    max-width: 314px;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    @include md {
      position: static;
    }
  }
  &__video {
    width: 100%;
    height: 100%;

    display: block;
    position: relative;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;

      display: block;

      position: sticky;
      top: 15px;

      border-radius: 30px;
      overflow: hidden;
      @include lg {
        max-height: 556px;
      }
      @include md {
        max-height: unset;
        height: auto;
        aspect-ratio: 314/556;
        position: static;
      }
    }
  }
  &__info-wrapper {
    grid-area: info;

    width: 100%;
    height: 100%;

    position: relative;
  }
  &__info {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    @include md {
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      position: sticky;
      // top: unset;
      top: 50%;
    }
  }
  &__info-exp {
    width: auto;
    height: 40px;
    padding: 11px 12px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    background: rgba(83, 163, 72, 0.2);
    border-radius: 8px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--black);
  }
  &__specs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__specs-item {
    width: 40px;
    height: 40px;
    padding: 5px;

    background: var(--white);
    border: 1px solid rgba(83, 163, 72, 0.2);
    border-radius: 44px;
    &:not(:first-child) {
      margin-left: -10px;
    }
  }
  &__appointment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--black);

    white-space: nowrap;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;
      &:first-child {
        gap: 0 8px;
      }
    }
  }
  &__info-btns {
    margin-top: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    .btn {
      min-height: unset;
      height: 40px;
      padding: 10px 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }
  &__descr {
    grid-area: descr;

    padding: 16px 24px;
    border: 1px solid rgba(83, 163, 72, 0.2);
    border-radius: 30px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--black);
    @include lg {
      margin-top: 24px;
    }
    @include md {
      margin-top: 16px;
    }
  }
  &__descr-title {
    margin-bottom: 12px;
    display: inline-block;

    font-weight: 600;
    font-size: 18px;
    line-height: 134%;
    color: var(--black);
  }
  &__title,
  &__tab-btns {
    margin-bottom: 32px;
  }
  &__menu,
  &__name {
    margin-bottom: 24px;
  }
}
