@use './../mixins' as *;

.logo {
  width: auto;
  // height: 88px;
  height: calc(var(--index) * 3.44);
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &--white {
    opacity: 0;
  }
  &--dark {
    transform: translateY(-100%);
    opacity: 1;
  }
  img {
    height: 100%;
    transition: opacity 2s ease;
  }
}
