@use './../mixins' as *;
@use 'sass:math';

.island-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;

  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__inner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__items-wrapper {
    width: 30%; //500px
    height: auto; //500px
    aspect-ratio: 1/1;
    margin-top: 6%; //55px

    position: relative;
    top: 40%;
    left: 22%;
    transform: translate(-75%, -25%) scale(1.25);
    z-index: 5;
    will-change: transform;
    &::before {
      content: '';
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 150%;
    }
  }
  &__items {
    --itemsLength: 0;
    --rotateBox: 0deg;
    --rotateItem: 0deg;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    transform: rotate(var(--rotateBox));
    transition: transform 0.5s ease-in-out;
  }
  &__item {
    --i: 0;
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    offset-path: circle(44% at 50% 50%);
    offset-rotate: 1turn;
    offset-distance: calc((100% / var(--itemsLength)) * var(--i));

    transform: rotate(var(--rotateItem));
    transition: transform 0.5s ease-in-out;

    &.active {
      .island-slider__item-box {
        border-color: #53a348;
        transition: all 0.5s ease-in-out;
        transform: translateX(100%) scale(2.5);
      }
    }
  }
  &__item-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: calc(var(--index) * 0.08) solid #fff; //2px
    flex-shrink: 0;
    transition: all 0.5s ease-in-out;
  }
  &__item-box img {
    // width: 40px;
    // height: 40px;
    width: 75%;
    height: auto;
    aspect-ratio: 1/1;
  }
  &__btns {
    width: fit-content;
    height: fit-content;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--index) * 0.3);

    position: relative;
    z-index: 16;
  }
  &-prev,
  &-next {
    width: calc(var(--index) * 1.6);
    height: calc(var(--index) * 1.6);

    font-size: calc(var(--index) * 1.6); //40px
    font-weight: bold;
    opacity: 0.3;
    opacity: 1;
  }
  &-next:hover,
  &-prev:hover {
    opacity: 1;
  }
}

.island-info {
  width: 100%;
  height: 100%;
  padding: 1% 0;
  position: relative;

  color: var(--black);
  &::before {
    content: '';
    width: 65%;
    height: 100%;
    background: linear-gradient(
      270deg,
      #eae7dd 0%,
      rgba(234, 231, 221, 0.95) 49.5%,
      rgba(234, 231, 221, 0.8) 79.5%,
      rgba(234, 231, 221, 0) 100%
    );
    // transform: rotate(-90deg);
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &--wrapper {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  &__content {
    width: 41%;
    height: 100%;
    margin-left: auto;

    gap: calc(var(--index) * 1.1);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    @media (max-height: 600px) {
      width: 45%;
    }
    @include lg {
      width: 50%;
    }
  }
  &__therapy {
    width: 100%;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 0.95);
  }
  &__therapy-title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    // gap: 8px;
    gap: calc(var(--index) * 0.3);
    font-weight: 500;
    // font-size: 64px;
    font-size: calc(var(--index) * 2.5);
    line-height: 110%;
    color: var(--black);
    span {
      font-weight: 500;
      // font-size: 16px;
      font-size: calc(var(--index) * 0.65);
      line-height: 130%;
    }
  }
  &__therapy-descr {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-family: var(--second-family);
    font-weight: 400;
    // font-size: 18px;
    font-size: calc(var(--index) * 0.7);
    line-height: 134%;
  }
  &__items {
    width: 100%;
    height: auto;
    // padding: 40px;
    padding: calc(var(--index) * 1.6);
    margin-bottom: auto;

    // backdrop-filter: blur(50px);
    backdrop-filter: blur(calc(var(--index) * 2));
    // box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3em calc(var(--index) * 0.8) 0 rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid var(--warm-light);
    // border-radius: 30px;
    border-radius: calc(var(--index) * 1.2);
    &:has(._depression.active) {
      background: rgba(144, 218, 255, 0.3);
    }
    &:has(._trevozh.active) {
      background: rgba(129, 129, 129, 0.3);
    }
    &:has(._poterya.active) {
      background: rgba(234, 58, 58, 0.3);
    }
    &:has(._socializacia.active) {
      background: rgba(244, 150, 61, 0.3);
    }
  }
  &__item {
    width: 100%;
    max-height: 100%;
    height: 100%;
    margin-top: calc(var(--index) * -1.6);

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // gap: 40px;
    gap: calc(var(--index) * 1.6);

    &.active {
      display: flex;
      .island-info__item-title,
      .island-info__item-descr,
      .btn {
        opacity: 0;
        animation: showContent 0.3s ease-in-out 1 forwards;
      }
    }
  }
  &__item-text {
    display: flex;
    flex-direction: column;
    // gap: 24px;
    gap: calc(var(--index) * 0.95);
  }
  &__item-title {
    font-weight: 500;
    // font-size: 32px;
    font-size: calc(var(--index) * 1.25);
    line-height: 130%;
  }
  &__item-head {
    // padding-right: 100px;
    padding-right: calc(var(--index) * 3.7);
    pointer-events: none;
  }
  &__item-descr {
    width: 100%;
    height: 100%;

    font-family: var(--second-family);
    font-weight: 400;
    // font-size: 16px;
    font-size: calc(var(--index) * 0.6);
    line-height: 130%;
  }

  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
