@use './../mixins' as *;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-width: 320px;

  background-color: var(--page-bg);

  font-family: var(--font-family);
  font-weight: 400;
  line-height: 140%;
  color: var(--black);

  // overflow: hidden;
}

.wrapper {
  &:has(.island) .header {
    position: absolute;
    opacity: 0;
  }
}

.main {
}

section {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

a {
  color: inherit;
}
