:root {
  --font-family: 'Comfortaa', sans-serif;
  --second-family: 'Roboto', sans-serif;

  --container-width: 1230px;
  --container-padding: 15px;
  --min-width: 375px;

  --black: #343434;
  --white: #fff;
  --warm-light: #fffaeb;
  --orange: #e78432;
  --green: #8dc286;
  --green-2: #53a348;

  --page-bg: #eae7dd;

  --index: calc(1vh + 1vw);
}
